.boot12 {
    text-align: center;

    hr {
        border: 1px solid rgb(128, 128, 128);
    }
}

.boot16 {
    hr {
        border: 1px solid rgb(128, 128, 128);
    }

  table {
      tr {
        //border: 1px solid black;
        //background-color: ;
      }
  }
}