body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

p {
	color: #8f8f8f;
}

/*Headings*/

.big-heading {
	font-size: 2.5rem;
	line-height: 1.5;
}

.section-heading {
	font-size: 3rem;
	line-height: 1.5;
}

.navbar-brand {
	font-family: 'Ubuntu';
	font-size: 2.5rem;
	font-weight: bold;
}

/*.nav-link {*/
/*	font-size: 1.2rem;*/
/*}*/

.navbar {
	padding-bottom: 4.5rem;
}

.nav-item {
	padding: 0 18px;
}

.download-button {
	margin: 5% 3% 5% 0;
}

.nav-link {
	font-size: 1.2rem;
	/*font-family: 'Montserrat';*/
}

.container-fluid {
	color: #fff;
	padding: 7% 15%;
}

/*Title Section*/

#title {
	background-color: #ff4c68;
	text-align: left;
}

#title .container-fluid {
	padding: 3% 15% 7%;
}

.pic-iphone {
	width: 70%;
	/*transform-origin: top left;*/
	-webkit-transform:rotate(25deg);
	-moz-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	transform: rotate(25deg);
	position: absolute;
	right: 20%;
}

#features {
	/*margin: 3rem 0;*/
	background-color: #fff;
	position: relative;
	/*z-index: 1;*/

}

.feature-box {
	padding: 4.5%
}

.feature-icon {
	font-size: 3rem;
	color: #D77FA1;

}

.feature-icon:hover {
	color: red;
}

/*Testimonial Section*/
#testimonials {
	background-color: #ff4c68;
	color: #fff;
}

.testimonial-text {
	font-size: 2.5rem;
	line-height: 1.5;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#press {
	background-color: #ff4c68;
	padding-bottom: 3rem;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

/*Pricing Section*/
#pricing {
	padding: 100px;
}

.price-text {
	font-size: 2.5rem;
	line-height: 1.5;
}

.pricing-column {
	padding: 3% 2%;
}

@media (max-width: 992px) {
	#title {
		text-align: center;
	}

	.pic-iphone {
		position: static;
		transform: rotate(0);
	}
}

/*cta*/
#cta {
	background-color: #ff4c68;
}

#cta h3 {
	color: white;
}

/*footer*/
#footer .fab {
	/*padding: 0 10px 0 10px;*/
}
