.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;

	/* all: 모든 프로퍼티를 트랜지션, 속성이 변할 때마다 그 변화를 애니메이션으로 나타내지만,
	그걸 애니메이션 하는 방식은 스스로 알아내야 함.  */
	  /*transition: all 300ms ease-out;*/
}

.ModalOpen {
	/*display: block;*/
	/*opacity: 1;*/

	/*!* 0: html 코드에서 지정한 위치를 사용 *!*/
	/*transform: translateY(0);*/

	/* forwards: 애니메이션의 마지막 단계가 계속되도록 해줌. */
	animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
	/*opacity: 0;*/

	/*!* -100%: 100% 만큼 위로 올라가기 위해서 *!*/
	/*transform: translateY(-100%);*/
	animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	50% {
		opacity: 1;
		transform: translateY(20%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes closeModal {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	50% {
		opacity: 0.8;
		transform: translateY(60%);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}
